#First{
background-color: antiquewhite;
border: 2px solid beige;
color: seagreen;
border-radius: 10px;
}

#Second{
    background-color: antiquewhite;
    border: 2px solid beige;
    color: seagreen;
    border-radius: 10px;
    }

    label{
color: cadetblue;
    }

button{
background-color: greenyellow;
color: coral;
border: none;
border-radius: 10px;
cursor: pointer;
font-size: 1rem;
}